html {
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

header {
  font-size: 1.5rem;
}

nav ol {
  list-style-type: none;
  font-weight: bold;
}

nav a {
  color: #8f2440;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Patua One", sans-serif;
  text-decoration: none;
  line-height: 1.5;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  font-weight: normal;
}

a {
  list-style-type: none;
  text-decoration: underline;
}

p {
  font-weight: normal;
  font-family: "PT Serif", serif;
}

ul {
  list-style-type: lower-greek;
}
