html {
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

header {
  font-size: 1.5rem;
  font-style: PT, sans;
}

nav ul {
  font-family: sans-serif;
  color: #8f2440
}

h1, h2 {
  color: #8f2440;
  text-transform: uppercase;
  font-family: "Patua One", sans-serif;
}
